<mat-card [appHighlight]="hasActiveDevice()">
  <mat-card-header>
    <mat-card-title>{{ data().title }}</mat-card-title>
    @if (isDeviceGroup()) {
      <mat-slide-toggle
        [checked]="isGroupActive()"
        (change)="toggleIsGroupActive()"
        [aria-label]="data().title"
      />
    }
  </mat-card-header>
  <mat-card-content [className]="data().layout">
    @for (i of data().items; track $index) {
      @if (i.type === 'device') {
        <app-device
          [data]="i"
          (dataChange)="updateDevice($index, $event)"
          [isSingle]="data().layout === 'singleDevice'"
        />
      } @else {
        <app-sensor [data]="i" />
      }
    }
  </mat-card-content>
  @if (editModeService.isEditMode() && !isExamaple()) {
    <mat-card-actions>
      <button matButton>EDIT</button>
      <div class="card-edit-controls">
        <button (click)="reorder('left')" matIconButton [disabled]="this.details().order <= 1">
          <mat-icon fontIcon="remove" />
        </button>
        <input [value]="details().order" (change)="onOrderChange($event)" type="number" />
        <button
          (click)="reorder('right')"
          matIconButton
          [disabled]="this.details().order >= this.details().length"
        >
          <mat-icon fontIcon="add" />
        </button>
        <button (click)="remove()" matIconButton><mat-icon fontIcon="delete" /></button>
      </div>
    </mat-card-actions>
  }
</mat-card>
