<mat-card>
  <mat-card-header>
    <mat-card-title>{{ data().title }}</mat-card-title>
    @if (isDeviceGroup()) {
      <mat-slide-toggle
        [checked]="isGroupActive()"
        (change)="toggleIsGroupActive()"
        [aria-label]="data().title"
      ></mat-slide-toggle>
    }
  </mat-card-header>
  <mat-card-content [className]="data().layout">
    @for (i of data().items; track $index) {
      @if (i.type === 'device') {
        <app-device
          [data]="i"
          (dataChange)="updateDevice($index, $event)"
          [isSingle]="data().layout === 'singleDevice'"
        />
      } @else {
        <app-sensor [data]="i" />
      }
    }
  </mat-card-content>
</mat-card>
