mat-card {
  min-height: 9rem;
}

mat-card-content {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.verticalLayout {
  flex-direction: column;
}

app-device {
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  
}

.card-edit-controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
