@use '@angular/material' as mat;

p {
  display: flex;
  align-items: center;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active {
  @include mat.icon-overrides(
    (
      color: orange,
    )
  );
}

.gap {
  gap: 1rem;
}
