nav {
  display: flex;
  flex-direction: column;
  flex-grow: 20;
  gap: 1rem;
  padding: 1rem;
}

div {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: inherit;
  &:visited {
    color: inherit;
  }
}

h1 {
  margin: 14px 0;
  padding-left: 1rem;
}
