<h1>Smart Home UI</h1>
<mat-divider></mat-divider>
<mat-nav-list>
  @if (list()?.length) {
    @for (link of list(); track link) {
      <mat-list-item [routerLink]="currentDashboardId() === link.id ? null : ['/dashboard', link.id]">
        <mat-icon matListItemIcon fontIcon="{{ link.icon }}" />
        <h3 matListItemTitle>{{ link.title }}</h3>
      </mat-list-item>
    }
  } @else {
    <h2>You don’t have any dashboards yet. They’ll appear here as soon as you create them</h2>
  }
</mat-nav-list>
<mat-divider></mat-divider>
<div>
  <p class="initials">{{ user()?.initials }}</p>
  {{ user()?.fullName }}
  <button matIconButton><mat-icon fontIcon="logout" /></button>
</div>
