app-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

body {
  position: relative;
}

.sidebar-button {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 0.2rem;
  left: 1rem;
  @media (max-width: 1280px) {
    visibility: visible;
  }
}

.inside {
  left: 85%;
}
